<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rnj.ddangily.persistence.InstagramMapper">
  <resultMap id="BaseResultMap" type="com.rnj.ddangily.model.Instagram">
    <id column="instagram_id" jdbcType="BIGINT" property="instagramId" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="media_type" jdbcType="VARCHAR" property="mediaType" />
    <result column="media_url" jdbcType="VARCHAR" property="mediaUrl" />
    <result column="permalink" jdbcType="VARCHAR" property="permalink" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="caption" jdbcType="VARCHAR" property="caption" />
    <result column="collection_time" jdbcType="TIMESTAMP" property="collectionTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from instagram
    where instagram_id = #{instagramId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rnj.ddangily.model.Instagram">
    insert into instagram (instagram_id, id, media_type, 
      media_url, permalink, username, 
      caption, collection_time)
    values (#{instagramId,jdbcType=BIGINT}, #{id,jdbcType=BIGINT}, #{mediaType,jdbcType=VARCHAR}, 
      #{mediaUrl,jdbcType=VARCHAR}, #{permalink,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{caption,jdbcType=VARCHAR}, #{collectionTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rnj.ddangily.model.Instagram">
    update instagram
    set id = #{id,jdbcType=BIGINT},
      media_type = #{mediaType,jdbcType=VARCHAR},
      media_url = #{mediaUrl,jdbcType=VARCHAR},
      permalink = #{permalink,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      caption = #{caption,jdbcType=VARCHAR},
      collection_time = #{collectionTime,jdbcType=TIMESTAMP}
    where instagram_id = #{instagramId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select instagram_id, id, media_type, media_url, permalink, username, caption, collection_time
    from instagram
    where instagram_id = #{instagramId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select instagram_id, id, media_type, media_url, permalink, username, caption, collection_time
    from instagram
  </select>
</mapper>