<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="root">
    <ul>
        <li v-for="user in users">
            <user-card v-bind:user="user" v-bind:key="user.id"/>
        </li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
    Vue.component('user-card', {
        props:['user'],
        template:
        <div>
            <div>Name: {{ user.name }}</div>
            <div>Description: {{ user.description }}</div>
        </div>
    });
    var app = new Vue({
        el: '#root',
        data: {
            users: [
                {
                    id: "1",
                    name: "tester1",
                    description: "Tester1"
                }
            ]
        }
    });
</script>
</body>
</html>